<app-breadcrumbs
  title="Facilities Details"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header custom-tr">
        <a
          type="button"
          class="btn btn-primary waves-effect waves-light"
          [routerLink]="['add']"
        >
          Add New Facility &nbsp; <strong>+</strong>
        </a>
      </div>
      <section id="gallery" style="padding-top: 2rem;">
        <div class="container">
          <div class="row">
            <!-- Loop through each facility item and display it in a card -->
            @for (item of facilities; track item; let i = $index) {
            <div class="col-lg-4 mb-4">
              <div class="card">
                <img
                  src="{{ item.files[0]?.path || 'default-image-url.jpg' }}"
                  alt="Facility Image"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">
                    {{ item.description }}
                    <br /><strong>Status:</strong>
                    @if(item.status == 1) {
                    <span class="badge bg-success-subtle text-success"
                      >Active</span
                    >
                    } @else {
                    <span class="badge bg-warning-subtle text-warning"
                      >Inactive</span
                    >
                    }
                  </p>

                  <a
                    type="button"
                    class="btn btn-primary btn-full-width waves-effect waves-light"
                    [routerLink]="['update']"
                  >
                    Update
                  </a>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </section>
    </div>
    <div class="row justify-content-md-between align-items-md-center">
      <div class="col-sm-12 col-md-5">
        <div
          class="dataTables_info mb-2"
          id="facilities-table_info"
          role="status"
          aria-live="polite"
        >
          {{ calculateEntryRange() }}
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-end gridjs-pagination">
          <ngb-pagination
            (pageChange)="loadPage($event)"
            [collectionSize]="totalCount"
            [page]="currentPage"
            [pageSize]="pageSize"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
