<app-breadcrumbs
  title="Products"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- end row -->

<div
  class="row"
  *ngIf="!hasPermissionForProduct('VIEW_PRODUCT')"
  style="
    text-align: center;
    padding: 10px;
    background-color: #ffebee;
    border: 1px solid #e57373;
    border-radius: 5px;
    color: #e57373;
  "
>
  Access Denied: You do not have permission to continue.
</div>

<div class="row" *ngIf="hasPermissionForProduct('VIEW_PRODUCT')">
  <div class="col-12">
    <div class="card">
      <div
        class="card-header custom-tr"
        *ngIf="hasPermissionForProduct('CREATE_PRODUCT')"
      >
        <a
          [routerLink]="['add']"
          class="btn btn-primary waves-effect waves-light"
        >
          Add New Product &nbsp;<strong>+</strong>
        </a>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-gridjs">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Status</th>
                <th class="custom-tr">Price (LKR)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of products; track item; let i = $index) {
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category.name }}</td>
                <td>
                  @if(item.status == 1) {
                  <span class="badge bg-success-subtle text-success"
                    >Active</span
                  >
                  } @else {
                  <span class="badge bg-warning-subtle text-warning"
                    >Deactive</span
                  >
                  }
                </td>
                <td class="custom-tr">{{ item.sellingPrice }}</td>
                <td>
                  <button
                    *ngIf="hasPermissionForProduct('UPDATE_PRODUCT')"
                    type="button"
                    class="btn btn-sm btn-primary custom-mr-5 waves-effect waves-light"
                    [routerLink]="['/product/edit', item.id]"
                  >
                    Edit
                  </button>
                  <button
                    *ngIf="hasPermissionForProduct('DELETE_PRODUCT')"
                    type="button"
                    class="pl-5 btn btn-sm btn-danger waves-effect waves-light"
                    (click)="deleteProduct(item.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info mb-2"
              id="tickets-table_info"
              role="status"
              aria-live="polite"
            >
              {{ calculateEntryRange() }}
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-end gridjs-pagination">
              <ngb-pagination
                (pageChange)="loadPage($event)"
                [collectionSize]="totalCount"
                [page]="currentPage"
                [pageSize]="pageSize"
              >
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->
<ngx-ui-loader></ngx-ui-loader>
